<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
<div>Beer
</div>      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
Search for beer      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="" target="_blank">Search for beer</a>
      </p>
    </div>
  </div>
  <div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>The beer Team.
</section>
