<section ng-controller="ArticlesController">
  <div class="page-header">
    <h1>Review A Beer</h1>
    <a ui-sref="articles.view({articleId: article._id})" class="list-group-item">
      <h3 class="list-group-item-text">
        Beer Name
        <span ng-bind="beers.name"></span>
      </h3>
      <!-- <h4 class="list-group-item-heading"><img src="{{beers.lables.icon}}" alt=""></h4> -->
      <p class="list-group-item-text">Desc. {{desc}}</p>
      <p class="list-group-item-text">abv. {{beers.abv}}</p>
      <p class="list-group-item-text">ibu. {{beers.ibu}}</p>
      <!-- <p class="list-group-item-text">ibu. {{beers.ibu}}</p> -->
      <!-- <p class="list-group-item-text">style. {{beers.style}}</p> -->

    </a>
  </div>
  </div>
  <div class="col-md-12">
    <form name="articleForm" class="form-horizontal" ng-submit="create(articleForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Title</label>
          <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="articleForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Article title is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <div class="radio">
            <label>
              <input type="radio" name="optradio">
              <span class="glyphicon glyphicon-star"></span>1 star</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optradio"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>2 star</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optradio"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>3 star</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optradio">
              <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>4 star</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optradio">
              <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>5 star</label>
          </div>
        </div>

        <div class="form-group">
          <label for="content">Content</label>
          <textarea name="content" ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
