<section ng-controller="ArticlesController" ng-init="findOne()">
  <div class="page-header">
    <h1>Edit {{article.name}}</h1>
  </div>
  <div class="col-md-12">
    <form name="articleForm" class="form-horizontal" ng-submit="update(articleForm.$valid)" novalidate>
      <fieldset>
        <div ng-show="article.sampled" class="form-group" show-errors>
          <label for="title">Review Headline</label>
          <input name="title" type="text" ng-model="article.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="articleForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Article title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="sampled">
          Sampled?
        </label> <input type="checkbox" id="sampled" name="sampled" ng-model="article.sampled">
        </div>
        <div class="form-group" ng-show="article.sampled" show-errors>
          <div class="radio">
            <label>
              <input type="radio" ng-model="article.rating" value="1" name="optradio">
              <span class="glyphicon glyphicon-star"></span>1 star</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" ng-model="article.rating" value="2" name="optradio"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>2</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" ng-model="article.rating" value="3" name="optradio"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>3</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" ng-model="article.rating" value="4" name="optradio">
              <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>4</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" ng-model="article.rating" value="5" name="optradio">
              <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>5</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" ng-model="article.rating" value="6" name="optradio">
              <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>6</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" ng-model="article.rating" value="7" name="optradio">
              <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>7</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" ng-model="article.rating" value="8" name="optradio">
              <span class="glyphicon glyphicon-star">

              </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>8</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" ng-model="article.rating" value="9" name="optradio">
              <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>9</label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" ng-model="article.rating" value="10" name="optradio">
              <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>10</label>
          </div>
        </div>
        <div style="display:none;" class="form-group" show-errors>
          <label for="rating">Review rating from 1-10</label>
          <input name="rating" type="text" ng-model="article.rating" id="rating" class="form-control">
          <!-- <div ng-messages="articleForm.rating.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Article rating is required.</p>
          </div> -->
        </div>
        <div ng-show="article.sampled" class="form-group">
          <label for="content">Full Review</label>
          <textarea name="content" ng-model="article.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
